<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <events>
      <event name="publish:begin">
        <handler type="Sitecore.Publishing.WebDeploy.PublishHandler, Sitecore.Publishing.WebDeploy" set:type="Sitecore.Support.Publishing.WebDeploy.PublishHandler, Sitecore.Support.93288.323484">
          <!-- Specifies whether web.deploy will use checksums or FileLastWriteTime attributes during the deployment. -->
          <UseChecksum>false</UseChecksum>
          <tasks>
            <default>
              <!-- 
                userName and password properties were removed in favor of WebDeploy.UserName and WebDeploy.Password application settings.
                Update the `<appSettings>` section in the Web.config file to specify the credentials:
                  <add key="WebDeploy.UserName" value="Administrator" />`
                  <add key="WebDeploy.Password" value="example" />` 
              -->
              <userName>
                <patch:delete/>
              </userName>
              <password>
                <patch:delete/>
              </password>
            </default>
          </tasks>
        </handler>
      </event>
    </events>
  </sitecore>
</configuration>